.record-section,
.graph-section {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.record-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.record-section label,
.record-section input,
.record-section select {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.record-section input[type="submit"] {
  /*background-color: #4CAF50;*/
  background-image: linear-gradient(218deg,
      hsl(223deg 68% 6%) 0%,
      hsl(252deg 89% 35%) 33%,
      hsl(267deg 76% 65%) 67%,
      hsl(270deg 27% 94%) 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.graph-section canvas {
  max-height: 400px;
  display: block;
}

.record-section h2,
.graph-section h2 {
  background-image: linear-gradient(218deg,
      hsl(223deg 68% 6%) 0%,
      hsl(252deg 89% 35%) 33%,
      hsl(267deg 76% 65%) 67%,
      hsl(270deg 27% 94%) 100%);
}

p {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  background-color: #f9f9f9;
  color: #333;
}
